<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static',filename='css/style.css') }}" >
    <title>Welcome to My Attendance System</title>
</head>
<body>
    <div class="login">
        <h3>Welcome to My Attendance System</h3>

        <button id="loginStudent" ><a href="{{ url_for('loginStudent') }}"> Login as Student</a></button>
        <button id="loginAdmin" type="">Login as Admin</button>
    </div>
</body>
</html>